In [21]:
import pandas as pd
import tweepy

In [31]:
language = 'German'
words_df = pd.read_csv('twitter_accounts.csv')

usernames = words_df[language].copy()

Fill in information

In [32]:
consumer_key    = ''
consumer_secret = ''

access_token    = ''
access_secret   = ''

callback_uri = 'oob'

In [33]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)

## Steps to Take
- Get *x* number of tweets using the `count` parameter
- Result is a list of json files containing data about each tweet
- Search for just the text data using `text` attribute
- Append the data to a list

In [25]:
## Example
# first_user = api.user_timeline(screen_name = first, count=5)
# user = first_user[4]
# user.text

In [49]:
# Number of tweets to collect per user
tweet_num = 200

In [50]:
def get_text(username):
    text_data = []
    tweet_data = api.user_timeline(screen_name=username, count=tweet_num, tweet_mode='extended')
    
    # Get the text from the tweet
    for tweet in tweet_data:
        text_data.append(tweet.full_text)

    
    return text_data

In [51]:
full_tweets = []

for username in usernames:
    full_tweets.extend(get_text(username=username))

# Convert to DataFrame
Convert the list to a DataFrame and pickle it

In [52]:
tweet_df = pd.DataFrame(data={'raw_tweet_data' : full_tweets})

tweet_df.head()

                                      raw_tweet_data
0  @chardinghh In meiner Branche sind wir damit g...
1                                    @crittersport ðŸ¤£
2  Ich vermisse beim Stundeneintragen den Punkt â€ž...
3                              @lawen4cer Nâ€˜Trotzki.
4           @ktschk ER HAT UNS DIE FREUDE GESCHENKT!

In [53]:
len(tweet_df)

1996

In [54]:
tweet_df.to_csv('./data/raw_data.csv', index=False)